<div id="<%= dom_id review %>">
  <p>
    <strong>Rate:</strong>
    <%= review.rate %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= review.user_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= review.description %>
  </p>

</div>
